<footer class="footer spacer">
    <img class="logo" src="../../assets/logo/Logo.png" alt="" />

    <ul class="socials">
        <li (click)="redirectToLink('https://www.facebook.com/alberto.villacarlos.3')">
            <img src="../../assets/socials/facebook.png" alt="Facebook logo" />
        </li>
        <li (click)="redirectToLink('https://twitter.com/xsuma12x')">
            <img src="../../assets/socials/twitter.png" alt="Facebook logo" />
        </li>
        <li (click)="redirectToLink('https://www.instagram.com/xsuma12/')">
            <img src="../../assets/socials/instagram.png" alt="Facebook logo" />
        </li>
        <li (click)="redirectToLink('https://www.linkedin.com/in/xsuma-seere-730a381b5/')">
            <img src="../../assets/socials/linkedin.png" alt="Facebook logo" />
        </li>
        <li (click)="redirectToLink('https://github.com/Xjanus12x')">
            <img src="../../assets/socials/github.png" alt="Facebook logo" />
        </li>
    </ul>
    <p>Copyright © 2023 ASV</p>

</footer>