<div class="about-me" data-aos="fade-up" >

    <header>
        <h2>ABOUT ME</h2>
    </header>
    <p>I am passionate about front-end web development and I am dedicated to creating visually appealing and
        user-friendly
        websites. My studies have provided me with a strong foundation in HTML, CSS, JavaScript and web development
        principles.
        I am constantly learning and expanding my skills to stay up-to-date with the latest web technologies. I am
        eager
        to
        put
        my knowledge and creativity to work in a professional setting and am excited to see where my passion for
        front-end
        web
        development takes me in the future.</p>

</div>