<section class="container">
    <div class="information">
        <div>
            <h2>Get in Touch</h2>
            <div>
                <p><span>Email / </span>albertovillacarlos07@gmail.com</p>
                <p><span>Phone / </span>123-123-1234</p>
            </div>

            <p>
                As a seasoned Front End Developer, I am eager to connect with
                like-minded individuals and explore the boundless potential of
                your digital vision. Let's collaborate and bring your ideas to
                fruition with stunning design and seamless functionality.
            </p>
        </div>
    </div>
    <form class="forms" action="https://formsubmit.co/41ccf3d1cae69b161e08f62242098e64" method="POST">


        <label for="fullname">Full Name</label>
        <input id="fullname" type="text" placeholder="Full Name" name="fullname" />


        <label for="email">Email</label>
        <input type="email" placeholder="Email" name="email" />



        <label for="details">Additional details</label>
        <textarea id="details" name="w3review" rows="4" cols="50" name="details"></textarea>


        <div mat-dialog-actions class="buttons">
            <button type="button" mat-button mat-dialog-close>Close</button>
            <button type="submit" class="button" mat-raised-button>Submit</button>
        </div>
    </form>
</section>