.skills {
  display: grid;
}
.skills__img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.skills__img img {
  aspect-ratio: 1/1;
  max-width: 4rem;
}
header h2 {
  font-size: 2rem;
  color: var(--clr-100);
  text-align: center;
}
