<section class="skills" data-aos="fade-up" data-aos-delay="100">
    <header>
        <h2>SKILLS</h2>
    </header>
    <div class="skills__img">
        <img src="../../assets/skills/html-5.png" alt="">
        <img src="../../assets/skills/css-3.png" alt="">
        <img src="../../assets/skills/js.png" alt="">
        <img src="../../assets/skills/sass.png" alt="">
        <img src="../../assets/skills/typescript.png" alt="">
        <img src="../../assets/skills/angular.png" alt="">
        <img src="../../assets/skills/git.png" alt="">
        <img src="../../assets/skills/github.png" alt="">
    </div>
</section>