<div class="bg-wrapper bg-img-defaults min-height-vh">
  <div>
    <app-navigation></app-navigation>
    <div class="hero">
      <h1 data-aos="fade-up-right" data-aos-delay="1000">Hey, I'm Alberto Villacarlos
      </h1>
      <p data-aos="fade-up" data-aos-delay="1100">I'm a frontend-focused web developer specializing in building user-friendly interfaces for websites and web
        applications. My technical skills and creativity drive the success of products by enhancing the overall user
        experience.</p>
      <button class="button" data-aos="fade-up" data-aos-delay="1200" mat-raised-button (click)="openDialog()">REACH OUT
        <mat-icon>work</mat-icon>
      </button>

    </div>
  </div>
</div>
<main>
  
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>